* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open sans;
}


/* body {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-image: url(/assets/img/ayoba-ln.jpeg);
background-size: cover;
height: 100%;
overflow: hidden;
background-repeat: no-repeat;
} */

body {
    height: 100vh;
    background-image: url(/assets/img/ayoba-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.info {
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 40px;
    width: 886px;
}

@media only screen and (max-width: 768px) {
    body {
        height: 100%;
    }
}

.meter-container {
    margin-bottom: 270px;
    position: relative;
    top: 13rem;
    /* position: absolute;
top: 150px;
left: 168px; */
}

.meter-container--summary {
    margin-bottom: 40px;
}

.meter-container--list {
    margin-top: 43999px;
}

.list-container {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 33%;
    padding: 20px;
    text-align: center;
}

ul li,
h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        flex-direction: column;
        margin-top: 50px;
    }
}

.sub-odometer,
.sub-odometer2,
.sub-odometer3,
.sub-odometer4,
.sub-odometer5 {
    display: none;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    border-radius: 8px;
    min-width: 300px;
    text-align: center;
    padding: 8px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.odometer-inside {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 60px;
}

@media screen and (max-width: 767px) {
    .odometer-inside {
        font-size: 21px;
        margin-left: 48px;
    }
}

.odometer-formatting-mark {
    display: none;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 0;
    text-align: center;
}

p {
    font-size: 21px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 30px 388px;
    color: #000;
    font-family: "Raleway Thin", sans-serif;
}

@media screen and (max-width: 767px) {
    p {
        margin: 30px 141px;
    }
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .btn-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1280px) {
    .btn-container {
        margin-top: 50px;
    }
}

button {
    background-color: #000;
    border: none;
    color: #f1f1f1;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 40px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 23px;
}

button:hover {
    background-color: #575454;
    color: #000;
}

@media screen and (max-width: 767px) {
    button {
        margin: 20px 185px;
    }
}

.prize-table {
    width: 100%;
}

.prize-table td,
.prize-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.prize-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.prize-table tr:hover {
    background-color: #ddd;
}

.prize-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.display {
    text-align: center;
    margin-top: 117px;
    font-size: large;
    font-weight: bold;
}

.table-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffcb06;
    color: black;
    padding: 21px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    /* bottom: 10px; */
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    /* width: 680px; */
}

.menu-container a:hover {
    color: white;
    text-decoration: none;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/* Burger menu */

.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #232323;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
    margin-left: -50px;
}

.menu li {
    padding: 10px 0;
    font-size: 17px;
}


/* mobile styles */

@media only screen and (max-width: 1024px) {
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100% !important;
        height: 100% !important;
        background-color: #000;
    }
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .menu-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-logo img {
        max-height: 30px;
    }
    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 307px;
        right: -300px;
        top: 80px;
        margin: -20px;
        padding: 10px 15px 120px 35px;
        background: #cdcdcd;
        opacity: 0.96;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        height: 58vh;
        overflow-y: scroll;
    }
    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
    .hr-line {
        border: 0;
        border-top: 1px solid black;
        margin: 0;
        width: 15rem;
    }
}


/* desktop styles */

@media only screen and (min-width: 1025px) {
    .menu-container {
        width: 100%;
    }
    .menu-container a {
        color: black;
        margin-bottom: 33px;
    }
    .menu-container input {
        display: none;
    }
    /* Burger menu */
    .menu-container span {
        display: none;
    }
    .menu {
        position: relative;
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        margin-left: 300px;
    }
    .menu ul {
        display: flex;
        padding: 0;
    }
    .menu li {
        padding: 0 20px;
    }
    .dropdown-content {
        left: 218px;
    }
    .dropdown-content--container {
        margin-left: 200px;
    }
}

hr {
    /* margin-top: 1rem;
  margin-bottom: 1rem; */
    border: 0;
}


/* img {
height: auto;
max-width: 100%;
} */